<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de curso</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-4">

        <div class="card">
            <div class="card-body">
                {% if detalle %}

                    <h1>Detalle de curso {{detalle.nombre }}</h1>

                    <p><b>ID:</b> {{detalle.id }}</p>
                    <p><b>UUID:</b> {{detalle.uuid }}</p>

                {% else %}

                    <div class="alert alert-warning" role="alert">
                        <p>Curso no encontrado</p>
                    </div>

                {% endif %}

            </div>
        </div>


        <a href="/cursos/">Volver</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
