{% extends 'cursos/base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/cursos/">Cursos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles del curso</li>
{% endblock %}

{% block context %}

    <div class="card">
        <div class="card-body">
            {% if detalle %}

                <h1>Detalle de curso {{detalle.nombre }}</h1>

                <p><b>ID:</b> {{detalle.id }}</p>
                <p><b>UUID:</b> {{detalle.uuid }}</p>

            {% else %}

                <div class="alert alert-warning" role="alert">
                    <p>Curso no encontrado</p>
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}
