{% extends 'cursos/base.html' %}

{% block context %}
    <h1>Listado de cursos</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <body>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nombre }}</td>
                    <td>
                        <a href="/cursos/{{ curso.uuid }}">
                            Detalle
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </body>
    </table>
{% endblock %}
