<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de cursos</title>
</head>
<body>
    <h1>Listado de cursos</h1>
    <h3>Desde Template</h3>
    <ul>
        {% for curso in cursos %}
            <li>
                <a href="/cursos/{{ curso.uuid }}">
                    {{ curso.id }} - {{ curso.nombre }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <hr>
    {{ prueba }} <br>
    {{ cursos }}
</body>
</html>
